@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/gothamBlack.otf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Xlight', sans-serif;
    color: #e7e8e5;
}


/* Estilos para telas pequenas (por exemplo, smartphones) */
@media (max-width: 768px) {
    body{
        background: url("../imgs/rtf.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .voltar p{
        position: fixed;
        top: 2vh;
        left: 2vh;
        font-size: 3vh;
        padding: 2vh;
        background-color: rgb(110, 27, 91, 0.2);
        color: #e7e8e5;
        border-radius: 1vh;
        cursor: pointer;
        user-select: none;
        font-family: 'Gotham Black', sans-serif;
    
    }
    
    .voltar p:hover{
        background-color: rgb(110, 27, 91, 0.5);
    }

    .cheats{
        margin: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cheats input{
        text-align: center;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 2vh;
        border: none;
        height: 6.8vh;
        width: 48vh;        
        font-size: 4vh;
        font-weight: 800;
        border-radius: 1.2vh;
        color: rgb(255, 255, 255);
        font-weight: 700;
        background-color: rgb(175, 93, 156);

    }

    .cheats input:focus{
        outline: none;
    }

    .cheats button{
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 1vh;
        margin-bottom: 0;
        height: 6.8vh;
        width: 48vh; 
        font-size: 4vh;
        font-weight: 800;
        background-color: rgb(175, 93, 156);
        border: none;
        border-radius: 1.2vh;
        font-family: 'Gotham Black', sans-serif;
        cursor: pointer;
    }

    .cheats button:hover{
        background-color: rgba(155, 71, 135)

    }

    #cheatInput{
        text-align: center;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 2vh;
        border: none;
        height: 6.8vh;
        width: 48vh;       
        font-size: 4vh;
        font-weight: 800;
        border-radius: 1.2vh;
        color: rgb(255, 255, 255);
        font-weight: 700;
        background-color: rgb(175, 93, 156);
        display: none;
    }
    
    #cheatInput:focus{
        outline: none;
    }
}


  /* Estilos para telas médias (por exemplo, tablets)  */
@media (min-width: 769px) and (max-width: 1024px) {
    body{
        background: url("../imgs/fundo.png");
    }
    .voltar p{
        position: fixed;
        top: 2vh;
        left: 2vh;
        font-size: 3vh;
        padding: 2vh;
        background-color: rgb(110, 27, 91, 0.2);
        color: #e7e8e5;
        border-radius: 1vh;
        cursor: pointer;
        user-select: none;
        font-family: 'Gotham Black', sans-serif;
    
    }
    
    .voltar p:hover{
        background-color: rgb(110, 27, 91, 0.5);
    }

    .cheats{
        margin: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cheats input{
        text-align: center;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 2vh;
        border: none;
        height: 6.8vh;
        width: 53vh;         
        font-size: 4vh;
        font-weight: 800;
        border-radius: 1.2vh;
        color: rgb(255, 255, 255);
        font-weight: 700;
        background-color: rgb(175, 93, 156);

    }

    .cheats input:focus{
        outline: none;
    }

    .cheats button{
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 1vh;
        margin-bottom: 0;
        height: 6.8vh;
        width: 53vh; 
        font-size: 4vh;
        font-weight: 800;
        background-color: rgb(175, 93, 156);
        border: none;
        border-radius: 1.2vh;
        font-family: 'Gotham Black', sans-serif;
        cursor: pointer;
    }

    .cheats button:hover{
        background-color: rgba(155, 71, 135)

    }

    #cheatInput{
        text-align: center;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 2vh;
        border: none;
        height: 6.8vh;
        width: 53vh;         
        font-size: 4vh;
        font-weight: 800;
        border-radius: 1.2vh;
        color: rgb(255, 255, 255);
        font-weight: 700;
        background-color: rgb(175, 93, 156);
        display: none;
    }
    
    #cheatInput:focus{
        outline: none;
    }

}

@media (min-width: 1025px) {
    body{
        background: url("../imgs/fundo.png");
    }
    .voltar p{
        position: fixed;
        top: 2vh;
        left: 2vh;
        font-size: 3vh;
        padding: 2vh;
        background-color: rgb(110, 27, 91, 0.2);
        color: #e7e8e5;
        border-radius: 1vh;
        cursor: pointer;
        user-select: none;
        font-family: 'Gotham Black', sans-serif;
    
    }
    
    .voltar p:hover{
        background-color: rgb(110, 27, 91, 0.5);
    }

    .cheats{
        margin: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cheats input{
        text-align: center;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 2vh;
        border: none;
        height: 6.8vh;
        width: 53vh;         
        font-size: 4vh;
        font-weight: 800;
        border-radius: 1.2vh;
        color: rgb(255, 255, 255);
        font-weight: 700;
        background-color: rgb(175, 93, 156);

    }

    .cheats input:focus{
        outline: none;
    }

    .cheats button{
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 1vh;
        margin-bottom: 0;
        height: 6.8vh;
        width: 53vh; 
        font-size: 4vh;
        font-weight: 800;
        background-color: rgb(175, 93, 156);
        border: none;
        border-radius: 1.2vh;
        font-family: 'Gotham Black', sans-serif;
        cursor: pointer;
    }

    .cheats button:hover{
        background-color: rgba(155, 71, 135)

    }

    #cheatInput{
        text-align: center;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
        letter-spacing: -0.2vh;
        text-shadow: -1.5px 1.5px 5px rgba(0, 0, 0, 1);
        margin: 2vh;
        border: none;
        height: 6.8vh;
        width: 53vh;         
        font-size: 4vh;
        font-weight: 800;
        border-radius: 1.2vh;
        color: rgb(255, 255, 255);
        font-weight: 700;
        background-color: rgb(175, 93, 156);
        display: none;
    }
    
    #cheatInput:focus{
        outline: none;
    }
}